{{#if template}}
  <template>
    <h1>{{name}}</h1>
  </template>
{{/if}}

{{#if script}}
  <script lang='ts' setup>
    import { ref } from 'vue'; let test = ref(1); console.log(test.value);
    console.log('{{properCase name}}');
  </script>
{{/if}}

{{#if style}}
  <style scoped lang='scss'>

  </style>
{{/if}}